<meta charset="UTF-8">
<title>Informacion del vehiculo</title>
<link rel="stylesheet" href="public/stylesheets/style.css">
<link rel="stylesheet" href="public/stylesheets/SOATPROCESO.css">
<link rel="stylesheet" href="public/stylesheets/footerCliente.css">
<link rel="stylesheet" href="public/stylesheets/headerCliente.css">

