<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Seguros</title>
    
    <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon.png">
    <link rel="stylesheet" href="../public/stylesheets/header.css">
    <link rel="stylesheet" href="../public/stylesheets/SOATPROCESO.css">
    <link rel="stylesheet" href="../public/stylesheets/adminDetallePlanSOAT.css">
    <script type="text/javascript" src="../public/scripts/adminDetallePlanSOAT.js"></script>
</head>

<body class="container">
    <%- include('../layouts/header'); %>
    <main>
        <%- include('../partials/detallePlanSOAT'); %>
    </main>
</html>