<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Seguros</title>
    <link rel="icon" type="image/x-icon" href="../public/resources/icons/page-icon.png">

    <link rel="stylesheet" href="../public/stylesheets/header.css">
    <link rel="stylesheet" href="../public/stylesheets/adminPlanSOAT.css">

    <script type="text/javascript" src="../public/scripts/adminPlanSOAT.js"></script>
</head>

<body class="container">
    <%- include('../layouts/header'); %>

        <%- include('../partials/planSOAT'); %>

</html>