<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Comprar SOAT</title>
    <link rel="icon" type="image/x-icon" href="public/resources/icons/page-icon.png">
    <link rel="stylesheet" href="public/stylesheets/style.css">
    <link rel="stylesheet" href="public/stylesheets/SOATPROCESO.css">
</head>

<body class="container">
    <%- include('../layouts/SOATHeader'); %>

    <main>
        <%- include('../partials/SOATProceso'); %>
    </main>

    <%- include('../layouts/SOATFooter'); %>

</html>