<!DOCTYPE html>
<html>

<head>
    <%- include('../heads/SOATProceso'); %>
</head>

<body class="container">
    <header>
        <%- include('../partials/SOATHeader'); %>
    </header>

    <main>
        <%- include('../partials/SOATProcesoFondo'); %>
    </main>

    <footer>
        <%- include('../partials/SOATFooter'); %>
    </footer>

</html>