/*HEADER INICIO*/
.logo img {
    width: 100px;
    height: auto;
}

.telefono {
    display: flex;
    align-items: center;
    color: #C8102E;
    text-decoration: none;
}

.telefono img {
    width: 30px;
    height: 30px;
    margin-right: 5px;
}