* { 
	font-family: Calibri,sans-serif;
  font-size: 12px;
  color: #041E42;
  padding: 0px;
  margin: 0px;
}

h1{
  font-size: 36px;
  color: #041E42;
  margin-bottom: 10px;
}

h2{
  font-size: 28px;
  color: #041E42;
  margin-bottom: 5px;
}

h3{
  font-size: 20px;
  color: #041E42;
  margin-bottom: 5px;
}

h4{
  font-size: 16px;
  color: #041E42;
}


.button-red{
  border: none;
  border-radius: 5px;
  background-color: #C8102E;
  color: white;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}

.button-red:active {
  border: 5px;
  border-color: #C8102E;
  border-radius: 5px;
  background-color:  #F7FBFC;
  color: #C8102E;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}

.button-red-whie-back{
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #C8102E;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}


.button-red-transparente{
  border: 5px;
  border-color: #C8102E;
  border-radius: 5px;
  background-color: rgba(200, 16, 46, 20%);
  color: #C8102E;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}

.div-payment{
  display: none;
  width: fit-content;
  height: fit-content;
}


/*FOOTER INICIO*/

footer {
  background-color: #041E42;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  height: auto;
  padding: 5px;
  margin-top: auto;
}

footer p, footer h3 {
  color: white;
  margin: 5px;
}

.footer-container {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.footer-logo {
  text-align: center;
  margin: 15px auto;
}

.footer-logo img {
  width: 150px;
  height: auto;
}

.footer-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;

}

.columna {
  text-align: center;
  width: 200px;
}


.footer-redes img {
  width: 32px;
  height: 32px;
  margin: 20px;
}

/*HEADER INICIO*/
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  color: white;
}

header .logo {
  float: left;
}

header .logo img {
  width: 100px;
  height: auto;
}

header .telefono {
  float: right;
  display: flex;
  align-items: center;
  color: #C8102E;
  text-decoration: none;
}

header .telefono img {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}