* { 
	font-family: Calibri,sans-serif;
  font-size: 12px;
  color: #041E42;
  padding: 0px;
  margin: 0px;
}

h1{
  font-size: 36px;
  color: #041E42;
  margin-bottom: 10px;
}

h2{
  font-size: 28px;
  color: #041E42;
  margin-bottom: 5px;
}

h3{
  font-size: 20px;
  color: #041E42;
  margin-bottom: 5px;
}

h4{
  font-size: 16px;
  color: #041E42;
}


.button-red{
  border: none;
  border-radius: 5px;
  background-color: #C8102E;
  color: white;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}

.button-red:active {
  border: 5px;
  border-color: #C8102E;
  border-radius: 5px;
  background-color:  #F7FBFC;
  color: #C8102E;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}

.button-red-whie-back{
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #C8102E;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}


.button-red-transparente{
  border: 5px;
  border-color: #C8102E;
  border-radius: 5px;
  background-color: rgba(200, 16, 46, 20%);
  color: #C8102E;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}

.div-payment{
  display: none;
  width: fit-content;
  height: fit-content;
}


header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  font-size: 12px;
 
  flex-direction: column;
}
