* { 
	font-family: Calibri,sans-serif;
  font-size: 12px;
  color: #041E42;
  padding: 0px;
  margin: 0px;
}

h1{
  font-size: 36px;
  color: #041E42;
  margin-bottom: 10px;
}

h2{
  font-size: 28px;
  color: #041E42;
  margin-bottom: 5px;
}

h3{
  font-size: 20px;
  color: #041E42;
  margin-bottom: 5px;
}

h4{
  font-size: 16px;
  color: #041E42;
}


.button-red{
  border: none;
  border-radius: 5px;
  background-color: #C8102E;
  color: white;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}

.button-red:active {
  border: 5px;
  border-color: #C8102E;
  border-radius: 5px;
  background-color:  #F7FBFC;
  color: #C8102E;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}

.button-red-whie-back{
  border: none;
  border-radius: 5px;
  background-color: #fff;
  color: #C8102E;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}


.button-red-transparente{
  border: 5px;
  border-color: #C8102E;
  border-radius: 5px;
  background-color: rgba(200, 16, 46, 20%);
  color: #C8102E;
  height: fit-content;
  width: fit-content;
  padding: 10px 20px;
  margin: 10px;
}

.div-payment{
  display: none;
  width: fit-content;
  height: fit-content;
}


header {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 350px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  padding: 0;
  font-family: Calibri, sans-serif;
  font-size: 12px;
 
  flex-direction: column;
}



/*HEADER INICIO*/

.logo {
  margin-right: 20px;
}

.logo img {
  width: 100px;
  height: auto;
}

.telefono {
  display: flex;
  align-items: center;
  color: #C8102E;
  font-size: 18px
}

.telefono img {
  width: 25px;
  height: 25px;
  margin-right: 5px;
}

/*FOOTER INICIO*/

footer {
  background-color: #041E42;
  color: white;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 250px;
  padding: 5px auto;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-logo {
  text-align: center;
  margin: 15px auto;
}

.footer-logo img{
  width: 150px;
  height: auto;
}

.footer-columnas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
}

.columna {
  text-align: center;
}

.footer-redes{
  text-align: center;
  position: absolute;
  bottom: 5px;
}

.footer-redes img{
  width: 120px;
  height: auto;
}




/*COTIZA INICIO*/

.main-cotiza{
  background-image: url('images/imagenesFondo/fondoDegradado.jpg');
  background-size: cover;
  background-position: centre centre;
  background-attachment: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-cotiza p{
  font-size: 48px;
  text-align: center;
  margin: 0 0 50px 0;
  
}

.main-cotiza-container{
  display: block;
  height: auto;
  width: 300px;

  padding: 10px 15px 50px 15px;
  margin: 0 15px 50px 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.2) 10px 10px 20px 5px;
}
.main-cotiza-content{
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: white;
  height: fit-content;
  width: fit-content;
  margin: 0% auto;
}

.main-cotiza-content h2{
  font-size: 20px;
}


.content-item{
  margin: 10px;
  margin-right: 30px;
  width: 100%;
}


.content-item select, .content-item input{
  font-size: 14px;
  width: 90%;
}

.button-red{
  border: none;
  border-radius: 5px;
  background-color: #C8102E;
  color: white;
  padding: 5px 5px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  float: right;
}


/*COTIZA FIN*/

/*OFRECE INICIO*/
#main-ofrece {
  background-image: url('images/imagenesFondo/fondoManeja.jpg');
  background-size: cover;
  background-position: centre centre;
  background-attachment: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-ofrece-container {
  display: block;
  height: auto;
  width: 500px;
  
  padding: 0 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(0,0,0,0.2) 10px 10px 20px 5px;
}

#main-ofrece-container h2 {
  font-size: 32px;
  margin-bottom: 30px;
  margin-left: 30px;
  margin-right: 30px;
}

.ofrecimiento {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: row;
}

.textoOfrecimiento{
  margin-right: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
  color: #041E42;
}

.ofrecimiento img {
  width: 60px;
  height: auto;
  margin-right: 20px;
  margin-left: 20px;
}

.ofrecimiento h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

.ofrecimiento p {
  font-size: 16px;
  margin: 10px 0 0 0;
}
/*OFRECE FIN*/

/*FAQ INICIO*/
.main-faq {
  background-image: url('images/imagenesFondo/fondoDegradado.jpg');
  background-size: cover;
  background-position: centre centre;
  background-attachment: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px auto;
  position: relative;

  flex-direction: column;
}

.main-faq h1{
  color: #041E42;
  font-size: 32px;
  margin: 30px;
}

.faq-container {
  display: block;
  height: auto;
  width: 550px;
}

.faq-item {
  margin-bottom: 0;
  color: #041E42;
}

.faq-question {
  cursor: pointer;
  background-color: #eee;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  font-weight: bold;

}

.faq-answer {
  background-color: #f8f8f8;
  padding: 10px;
  font-size: 16px;
  display: none;
}

.faq-toggle-icon {
  
}

.faq-toggle-icon.active {
  transform: rotate(180deg);
}
/*FAQ FIN*/
/*MAIN FIN*/



