<div class="content-container">
    <div class="content-cantainer-item">
        <button id="regresar" class="button-red">Regresar</button>
    </div>

    <div class="info-vehi-form">
        <h2 id = "titulo">Detalle Plan #</h2>
        <h2 id="id"></h2>
        <div class="info-vehi-form-item">
            <h3>Nombre</h3>
            <input id="txt-nombre" type="text" placeholder="Ingresar nombre"></input>
        </div>
        <div class="info-vehi-form-line">
            <div class="info-vehi-form-item">
                <h3>Moneda</h3>
                <select id="select-moneda">
                    <option value="1">Soles</option>
                    <option value="2">Dolares</option>
                </select>
            </div>

            <div class="info-vehi-form-item">
                <h3>Precio</h3>
                <input id="txt-precio" type="text" placeholder="Ingrese precio"></input>
            </div>
        </div>
        <div class="info-vehi-form-line">
        <div class="info-vehi-form-item">
            <h3>Monto Cobertura</h3>
            <input id="txt-cobertura" type="text" placeholder="Ingrese monto"></input>


        </div>
        <div class="info-vehi-form-item">
            <h3>Estado</h3>
            <select id="select-estado">
                <option value="true">Activo</option>
                <option value="false">Desactivo</option>
            </select>
        </div>
        
    </div>

</div>

<div class="content-cantainer-item bottom">
    <button id="btn-guardar" class="button-red">Guardar</button>
</div>

</div>