<main id = "tabla-plan-soat">
    <h2>Plan SOAT </h2>
    <div>
        <input type="text" placeholder="buscar">
        <button>Agregar</button>
    </div>
    <table id="tableID" class="display" style="width:100%">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre Plan</th>
                <th>Precio</th>
                <th>Cobertura</th>
                <th>Activo</th>
                <th></th>
            </tr>
        </thead>
        <tbody id = "table-body">
        </tbody>
    </table>
  
</main>
