<div class ="main-cotiza">
    <h1>Cotiza y compra tu SOAT electrónico</h1>
    <h1>100% online</h1>

    <div class="main-cotiza-container">
        <div class="main-cotiza-content">
            <h2>SOAT Electrónico</h2>
            <div class="content-cuerpo">
                <div class="content-item">
                    <h3>Tipo de documento</h3>
                    <select id = "select-documento">
                        <option value="" disabled selected>Seleccione</option>
                        <option value="DNI">DNI</option>
                        <option value="CE">CE</option>
                        <option value="RUC">RUC</option>
                    </select>
                </div>
                <div class="content-item">
                    <h3>Número de documento</h3>
                    <input placeholder="Ingresar número" id = "txt-documento"></input>
                </div>
                <div class="content-item">
                    <h3>Placa</h3>
                    <input placeholder="Ingrese la placa"  id = "txt-placa"></input>
                </div>
            </div>
            
        </div>
        <button class ="button-red" id = "cotizar"> Cotizar </button>
    </div>

</div>

<section id="main-ofrece">
    <div id="main-ofrece-container">
        <h2>Nuestro SOAT te ofrece:</h2>
        <div class="ofrecimiento">
            <img src="public/resources/icons/Media.png" alt="Logo Planes Renovacion">
            <div class="textoOfrecimiento">
                <h3>Planes de renovación</h3>
                <p>Descubre la diversidad de planes de renovación disponibles para ti. Ofrecemos opciones flexibles y personalizadas que se ajustan a tus necesidades, brindándote la tranquilidad y protección que mereces.</p>
            </div>
            </div>
        <div class="ofrecimiento">
            <img src="public/resources/icons/Commerce.png" alt="Logo Programa Descuento">
            <div class="textoOfrecimiento">
                <h3>Programa de descuentos</h3>
                <p>Obtén múltiples descuentos en tu SOAT al adquirirlo con nuestra empresa. Ahorra en diferentes lugares de Perú con nuestras ofertas especiales. ¡Aprovecha nuestros descuentos!</p>
            </div>
        </div>
        <div class="ofrecimiento">
            <img src="public/resources/icons/Property 1=person.3.fill.png" alt="Logo Afiliados">
            <div class="textoOfrecimiento">
                <h3>Afiliados</h3>
                <p>Al adquirir tu SOAT con Union, te ofrecemos beneficios exclusivos con nuestros afiliados. Disfruta de descuentos y ventajas en una amplia red de colaboradores.</p>
            </div>
        </div>
    </div>
</section>

<section class ="main-faq">
    <h1>Preguntas Frecuentes SOAT Electrónico</h1>
    <div class="faq-container">
        <div class="faq-item" >
            <div class="faq-question" onclick="toggleAnswer(1)" id = "frist-faq-item">
                ¿Qué es el SOAT?
                <span class="faq-toggle-icon">+</span>
            </div>
            <div class="faq-answer" id="answer1" >
                El SOAT es el Seguro Obligatorio de Accidentes de Tránsito. Es un seguro obligatorio que se requiere para circular con un vehículo en las carreteras y vías públicas del país.
            </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(2)">
                ¿Para qué sirve el SOAT?
                <span class="faq-toggle-icon">+</span>
            </div>
            <div class="faq-answer" id="answer2">
                El SOAT tiene como objetivo principal brindar protección a las personas que puedan resultar afectadas en un accidente de tránsito. Este seguro cubre los gastos médicos, hospitalarios y de rehabilitación de las personas que resulten heridas en un accidente, así como también el pago de indemnizaciones en caso de muerte o invalidez permanente.
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(3)">
                ¿Qué cubre el SOAT?
                <span class="faq-toggle-icon">+</span>
            </div>
            <div class="faq-answer" id="answer3">
                El SOAT cubre los gastos médicos y hospitalarios necesarios para la atención de las lesiones o muerte de los ocupantes del vehículo asegurado, así como también de otras personas afectadas en el accidente. Además, el SOAT cubre la indemnización por muerte o invalidez permanente que pudiera derivarse del accidente.
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(4)">
                ¿Cómo saber la fecha de renovación de mi SOAT?
                <span class="faq-toggle-icon">+</span>
            </div>
            <div class="faq-answer" id="answer4">
                Puedes verificar la fecha de renovación en la póliza que te entregaron al momento de la compra. También puedes comunicarte con nosotros para obtener más información sobre la renovación de tu SOAT.
            </div>
        </div>
        <div class="faq-item">
            <div class="faq-question" onclick="toggleAnswer(5)">
                ¿Cuándo recibo el SOAT si compro por Union Seguros?
                <span class="faq-toggle-icon">+</span>
            </div>
            <div class="faq-answer" id="answer5">
                Tu SOAT llegará por correo electrónico en un plazo de 24 horas hábiles a partir de la emisión de la póliza.
            </div>
        </div>
        <div class="faq-item" id = "las-faq-item">
            <div class="faq-question" onclick="toggleAnswer(6)" id = "last-faq-item">
                ¿Por qué varía el precio de mi SOAT?
                <span class="faq-toggle-icon">+</span>
            </div>
            <div class="faq-answer" id="answer6">
                El precio del SOAT puede variar dependiendo de diversos factores, como la marca y modelo del vehículo, el año de fabricación, el lugar donde se realiza la compra, entre otros. También puede variar dependiendo del monto de cobertura que se desea contratar y del período de cobertura. Es recomendable comparar precios y coberturas entre distintas aseguradoras antes de comprar tu SOAT.
            </div>
        </div>
    </div>

</section>
<script src="public/scripts/SOAT.js"></script>