    <div class="logo">
        <a href="/SOAT">
            <img src="public/resources/images/logo-red-white-back.png">
        </a>
        
    </div>
    <a class="telefono" href="tel:(1)888-9999" >
        <img src="public/resources/images/Communication.png">
        <h3>(1)888-9999</h3>
    </a>
