<div class="main-container">
    <div class="contol-container">
        <div class="progress-bar">
            <ol class="ProgressBar">
                <li class="ProgressBar-step is-current">
                    <svg class="ProgressBar-icon">
                        <use xlink:href="public/resources/checkmark.circle.svg" />
                    </svg>
                    <span class="ProgressBar-stepLabel">Informacion</span>
                </li>
                <li class="ProgressBar-step">
                    <svg class="ProgressBar-icon">
                        <use xlink:href="public/resources/checkmark.circle.svg" />
                    </svg>
                    <span class="ProgressBar-stepLabel">Elegir Plan</span>
                </li>
                <li class="ProgressBar-step">
                    <svg class="ProgressBar-icon">
                        <use xlink:href="public/resources/checkmark.circle.svg" />
                    </svg>
                    <span class="ProgressBar-stepLabel">Pago</span>
                </li>
                <li class="ProgressBar-step">
                    <svg class="ProgressBar-icon">
                        <use xlink:href="public/resources/checkmark.circle.svg" />
                    </svg>
                    <span class="ProgressBar-stepLabel">Finalizado</span>
                </li>
            </ol>
        </div>
    </div>
    <div class="content-container">
        <div class="content-cantainer-item">
            <button id="previous" class="button-red">Regresar</button>
        </div>

        <div class="div-informacion-vehiculo content-cantainer-item">
            <div class="content">
                <h1>Necesitamos más información ..</h1>
                <div class="info-vehi-form">

                    <div class="info-vehi-form-line">
                        <div class="info-vehi-form-item">
                            <h3>Marca</h3>
                            <select id = "txt-marca">
                                <option value="" disabled selected>seleccione una marca</option>
                            </select>
                        </div>

                        <div class="info-vehi-form-item">
                            <h3>Modelo</h3>
                            <select id = "txt-modelo">
                                <option value="" disabled selected>seleccione un modelo</option>
                            </select>
                        </div>
                    </div>
                    <div class="info-vehi-form-line">
                        <div class="info-vehi-form-item">
                            <h3>Numero de Asientos</h3>
                            <select id = "txt-asientos">
                                <option value="" disabled selected>seleccione un numero</option>
                            </select>
                        </div>
                        <div class="info-vehi-form-item">
                            <h3>Año</h3>
                            <select id = "select-anio">
                                <option value="" disabled selected>seleccione un Año</option>
                            </select>
                        </div>
                    </div>

                    <div class="info-vehi-form-item">
                        <h3>Serie</h3>
                        <input placeholder="Ingrese Serie" id = "txt-serie"></input>
                    </div>
                    <div class="info-vehi-form-item">
                        <h3>Uso</h3>
                        <select>
                            <option value="" disabled selected>seleccione uno</option>
                        </select>
                    </div>
                    <div class="info-vehi-form-line">
                        <div class="info-vehi-form-item">
                            <h3>Apellido paterno</h3>
                            <input placeholder="Ingrese apellido"></input>
                        </div>
                        <div class="info-vehi-form-item">
                            <h3>Apellido materno</h3>
                            <input placeholder="Ingrese apellido"></input>
                        </div>
                    </div>
                    <div class="info-vehi-form-item">
                        <h3>Nombres</h3>
                        <input placeholder="Ingrese nombres"></input>
                    </div>
                    <div class="info-vehi-form-item">
                        <h3>Quiero mi SOAT apartir de ..</h3>
                        <input   type="date" id="datepicker"></input>
                    </div>
                </div>
            </div>

        </div>

        <div class="div-plans content-cantainer-item">
            <div class="content-plan">
                <div class="plan-soat">
                    <h2>Soat AutoRenova</h2>
                    <h1>S/.40</h1>
                    <ul class="plan-soat-description">
                        <li>Cobertura completa robos y choques.</li>
                        <li>Descuento al 30% en Repsol y Primax.</li>
                    </ul>
                    <input type="radio" name="select-plan" class="button-red-whie-back"></input>
                </div>
                <div class="plan-soat">
                    <h2>Soat Estándar</h2>
                    <h1>S/.50</h1>
                    <ul class="plan-soat-description">
                        <li>Cobertura completa robos y choques.</li>
                        <li>Descuento al 30% en Repsol y Primax.</li>
                        <li>SOAT de acuerdo a la ley.</li>
                    </ul>
                    <input type="radio" name="select-plan" class="button-red-whie-back"></input>
                </div>
                <div class="plan-soat">
                    <h2>Soat Plus</h2>
                    <h1>S/.60</h1>
                    <ul class="plan-soat-description">
                        <li>Cobertura completa robos y choques.</li>
                        <li>Descuento al 30% en Repsol y Primax.</li>
                        <li>SOAT de acuerdo a la ley.</li>
                        <li>Asistencia médica.</li>
                    </ul>
                    <input type="radio" name="select-plan" class="button-red-whie-back"></input>
                </div>
            </div>
        </div>

        <div class="div-payment content-cantainer-item">
            <div class="info-vehi-form">

                <div class="card">
                    <div class="chip">
                      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 230 384.4 300.4" width="38" height="70">
                            <path d="M377.2 266.8c0 27.2-22.4 49.6-49.6 49.6H56.4c-27.2 0-49.6-22.4-49.6-49.6V107.6C6.8 80.4 29.2 58 56.4 58H328c27.2 0 49.6 22.4 49.6 49.6v159.2h-.4z" data-original="#FFD66E" data-old_color="#00FF0C" fill="rgb(237,237,237)"/>
                            <path d="M327.6 51.2H56.4C25.2 51.2 0 76.8 0 107.6v158.8c0 31.2 25.2 56.8 56.4 56.8H328c31.2 0 56.4-25.2 56.4-56.4V107.6c-.4-30.8-25.6-56.4-56.8-56.4zm-104 86.8c.4 1.2.4 2 .8 2.4 0 0 0 .4.4.4.4.8.8 1.2 1.6 1.6 14 10.8 22.4 27.2 22.4 44.8s-8 34-22.4 44.8l-.4.4-1.2 1.2c0 .4-.4.4-.4.8-.4.4-.4.8-.8 1.6v74h-62.8v-73.2-.8c0-.8-.4-1.2-.4-1.6 0 0 0-.4-.4-.4-.4-.8-.8-1.2-1.6-1.6-14-10.8-22.4-27.2-22.4-44.8s8-34 22.4-44.8l1.6-1.6s0-.4.4-.4c.4-.4.4-1.2.4-1.6V64.8h62.8v72.4c-.4 0 0 .4 0 .8zm147.2 77.6H255.6c4-8.8 6-18.4 6-28.4 0-9.6-2-18.8-5.6-27.2h114.4v55.6h.4zM13.2 160H128c-3.6 8.4-5.6 17.6-5.6 27.2 0 10 2 19.6 6 28.4H13.2V160zm43.2-95.2h90.8V134c-4.4 4-8.4 8-12 12.8h-122V108c0-24 19.2-43.2 43.2-43.2zm-43.2 202v-37.6H136c3.2 4 6.8 8 10.8 11.6V310H56.4c-24-.4-43.2-19.6-43.2-43.2zm314.4 42.8h-90.8v-69.2c4-3.6 7.6-7.2 10.8-11.6h122.8v37.6c.4 24-18.8 43.2-42.8 43.2zm43.2-162.8h-122c-3.2-4.8-7.2-8.8-12-12.8V64.8h90.8c23.6 0 42.8 19.2 42.8 42.8v39.2h.4z" data-original="#005F75" class="active-path" data-old_color="#005F75" fill="rgba(0,0,0,.4)"/>
                          </svg>
                    </div>
                    <img src="public/resources/images/logo.png" id = "card-logo">
                </div>
            </div>

            <div class="info-vehi-form">
                <div class="info-vehi-form-item">
                    <h3>Numero de tarjeta</h3>
                    <input type="text" placeholder="1234-5678-1234-5678"></input>
                </div>
                <div class="info-vehi-form-line">
                    <div class="info-vehi-form-item">
                        <h3>Fecha Vencimiento</h3>
                        <input type="text" placeholder="MM/YY"></input>
                    </div>

                    <div class="info-vehi-form-item">
                        <h3>CVC</h3>
                        <input type="text" placeholder="CVC"></input>
                    </div>
                </div>
                <div class="info-vehi-form-item">
                    <h3>Nombre</h3>
                    <input type="text" placeholder="Ingrese nombre completo"></input>
                </div>
                <div class="info-vehi-form-item">
                    <h3>Email</h3>
                    <input type="text" placeholder="Ingrese Email"></input>
                </div>
            </div>


        </div>

        <div class="div-result content-cantainer-item">
            <div class="contect-result">
                <h1>¡Gracias por elegirnos!</h1>
                <p>Has finalizado el proceso de compra, el comprobante de pago ha sido enviado a su correo electrónico.</p>
                <br>
                <br>

                <h2>Resumen SOAT</h2>

                    <h3>Nombre Completo</h3>
                    <p>Jimmy Chan Rojas</p>
                
                
                    <h3>Placa</h3>
                    <p>ABC-123</p>
                
                
                    <h3>Plan SOAT</h3>
                    <p>SOAT Plus</p>
                
                
                    <h3>Pago Total</h3>
                    <p>S/. 69.90</p>
                
                
                    <h3>Periodo</h3>
                    <p>03/04/2023 - 03/04/2024</p>
                
            </div>
        </div>

        <div class="content-cantainer-item">
            <button id="descargarConstancia" class="button-red-whie-back">Descargar constancia</button>
            <button id="advance" class="button-red">Continuar</button>
        </div>

    </div>
</div>
<script src="public/scripts/SOTAProceso.js"></script>