<div class ="footer-container">
    <div class="footer-logo">
        <img src="public/resources/images/logo-blue-back.png">
    </div>
    <div class="footer-columnas">
        <div class="columna">
            <h3>Sobre Nosotros</h3>
            <p>Conócenos</p>
            <p>Sostenibilidad</p>
            <p>Afiliados</p>
        </div>
        <div class="columna">
            <h3>Atención al cliente</h3>
            <p>Contáctanos</p>
            <p>Preguntas Frecuentes</p>
        </div>
        <div class="columna">
            <h3>Legales</h3>
            <p>Políticas de privacidad</p>
            <p>Términos y condiciones</p>
            <p>Protección de datos personales</p>
        </div>
    </div>
    <div class="footer-redes">
        <a href="https://facebook.com">
            <img src="public/resources/images/f_logo_RGB-White_58.png">
        </a>
        <a href="https://instagram.com">
            <img src="public/resources/images/Instagram_Glyph_White.png">
        </a>
        <a href="https://twitter.com">
            <img src="public/resources/images/Twitter social icons - circle - white.png">
        </a>
    </div>
</div>