<header>
    <a href="/SOAT" class="logo">
        <img src="public/resources/logos/logo-red-white-back.png">
    </a>
    <a class="telefono" href="tel:(1)888-9999" >
        <img src="public/resources/icons/Communication.png">
        <h3>(1)888-9999</h3>
    </a>
</header>